/* CSS declarations go here */
.bg-wrapper {
	background-color: grey;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.disclaimer {
	font-size: .8em;
	color: white;
	position: fixed;
	bottom: 15px;
}

#welcome {
/*Text Styling*/
	font-family: 'Lato', sans-serif;
	color: white;
/*Text Orientation*/
	overflow: auto;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 20%;
	text-align: center;
/*Block Styling*/
	background-color:black;
	z-index:0;
	opacity:.7;
	width: 100%;
	left: 0%;
	padding: 2px;
}

#welcome h1 {
	font-weight: 900;
}

#welcome h2 {
   width: 100%;
}

/*General Font Style */
p, a {
	font-family: 'Lato', sans-serif;
	color: white;
}

h5 {
	position: absolute;
	bottom: 0;
}

a {
	color: white;
}

/*Button Styles*/
#login-buttons {
	font-size: 2em;
	display: block;
	height: 50px;
	width: 33%;
	background-color: #f45c43;
	border: 2px solid #f45c43;

	/*Text*/
	text-align: center;


	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}