/* CSS declarations go here */
.bg-wrapper {
	background-color: grey;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.disclaimer {
	font-size: .8em;
	color: black;
	position: fixed;
	bottom: 15px;
}

#welcome {
/*Text Styling*/
	font-family: 'Lato', sans-serif;
	color: white;
/*Text Orientation*/
	overflow: auto;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 20%;
	text-align: center;
/*Block Styling*/
	background-color:black;
	z-index:0;
	opacity:.7;
	width: 100%;
	left: 0%;
	padding: 2px;
}

#welcome h1 {
	font-weight: 900;
}

#welcome h2 {
   width: 100%;
}

/*General Font Styles */
a {
	font-family: 'Lato', sans-serif;
	color: white;
}

h5 {
	position: absolute;
	bottom: 0;
}


/*Button Styles*/
#login-buttons {

	background: #f78776;
	background-image: -webkit-linear-gradient(top, #f78776, #f45c43);
	background-image: -moz-linear-gradient(top, #f78776, #f45c43);
	background-image: -ms-linear-gradient(top, #f78776, #f45c43);
	background-image: -o-linear-gradient(top, #f78776, #f45c43);
	background-image: linear-gradient(to bottom, #f78776, #f45c43);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 15px;
}

#login-buttons:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

/*.login-buttons-dropdown-align- {
	padding-top: 20px;
	background: yellow;
}*/

a, a:hover, a:visited, a:link, a:active {
	text-decoration: none !important;
}